{% extends "base.html" %}

{% block page_content %}
<div class="table_heading">
    <h1>All Mechanics Not Including Current User</h1>
</div>
  <div class="second-container">
    <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Mechanic ID</th>
        <th scope="col">Name</th>
        <th scope="col">Squadron ID</th>
      </tr>
    </thead>
    <tbody>
    {% for mechanic in data %}
      <tr>
        <th scope="row"> {{mechanic.id}} </th>
        <td>{{mechanic.name}}</td>
        <td>{{mechanic.squadron_id}}</td>
        {% endfor %}
    </tbody>
  </table>
  </div>
{% endblock %}
