{% extends "base.html" %}

{% block page_content %}
<div>
    <h1 class="indexHeader">{% if current_user.is_authenticated %} Hello Mechanic {{ current_user.username }}, Please Choose An Option:</h1> {%endif%}
</div>
<div class="container">
    <div class="box box1"><a class="linker" href="{{ url_for('main.mechanic_get_aircraft') }}">View Aircraft</a></div>
    <div class="box box2"><a class="linker" href="{{ url_for('main.mechanic_get_engine') }}"> View Engines</a></div>
    <div class="box box3"><a class="linker" href="{{ url_for('main.mechanic_complete_maintenance') }}"> Complete Maintenance</a></div>
    <div class="box box4"><a class="linker" href="{{ url_for('main.mechanic_get_maintenance_history') }}"> View Maintenance History</a></div>
    <div class="box box5"><a class="linker" href="{{ url_for('main.mechanic_get_maintenance_due') }}"> View Maintenance Due</a></div>
    <div class="box box6"><a class="linker" href="{{ url_for('main.mechanic_get_list') }}"> View Mechanics</a></div>
</div>
{% endblock %}
