{% extends "base.html" %}

{% block page_content %}
<div class="table_heading">
    <h1>Pilots By Squadron</h1>
</div>
  <div class="second-container">
    <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Pilot Name</th>
        <th scope="col">Pilot Hours</th>
      </tr>
    </thead>
    <tbody>
    {% for pilot in data %}
      <tr>
        <th scope="row"> {{pilot.name}} </th>
        <td>{{pilot.hours}}</td>
        {% endfor %}
    </tbody>
  </table>
  </div>
{% endblock %}
