{% extends "base.html" %}

{% block page_content %}
<div class="table_heading">
    <h1>Squadron Flight History</h1>
</div>
  <div class="second-container">
    <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Aircraft ID</th>
        <th scope="col">Flight ID</th>
        <th scope="col">Pilot ID</th>
        <th scope="col">Flight Duartion</th>
      </tr>
    </thead>
    <tbody>
    {% for flight in data %}
      <tr>
        <th scope="row"> {{flight.flight_id}} </th>
        <td>{{flight.aircraft_id}}</td>
        <td>{{flight.pilot_id}}</td>
        <td>{{flight.hours}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  </div>
{% endblock %}
