{% extends "base.html" %}


{% block page_content %}
<div class=big-container>
<!-- SHOWCASE -->
<section id="showcase">
  <div class="main-container">
    <div class="row center-xs center-sm center-md center-lg middle-xs middle-sm middle-md middle-lg">
      <div class="col-xs-12 col-sm-10 col-md-10 col-lg-7 showcase-content">
          <h1>Welcome to <span class="primary-text">AircraftDB</span></h1>
          <p> An application built by Joe Heins and James Gomatos.</p>
      </div>
    </div>
  </div>
</section>

<!-- FEATURES -->
<section id="features">
  <div class="main-container">
    <div class="row center-xs center-sm center-md center-lg">
      <div class="col-xs-12 col-sm-12 sol-md-12 col-lg-12">
        <h2>Core Technologies</h2>
        <p>How We Built It?</p>
        <!-- ICON ROW 1 -->
        <div class="row center-xs center-sm center-md center-lg">
          <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <i class="fa fa-database" aria-hidden="true"></i><br>
            <h4>SQLite</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
          </div>
          <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <i class="fa fa-flask" aria-hidden="true"></i><br>
            <h4>Flask</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
          </div>
          <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <i class="fa fa-css3" aria-hidden="true"></i><br>
            <h4>CSS3</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
          </div>
        </div>

        <!-- ICON ROW 2 -->
        <div class="row center-xs center-sm center-md center-lg">
          <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <i class="fa fa-html5" aria-hidden="true"></i><br>
            <h4>HTML5</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
          </div>
          <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <i class="fa fa-magic" aria-hidden="true"></i><br>
            <h4>FlexBoxGrid</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
          </div>
          <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <i class="fa fa-terminal" aria-hidden="true"></i><br>
            <h4>JQuery</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
